@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.header__burger-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: pink;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}