@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
.promo_text h1{
    font-family:"Playfair Display", serif ;
}
.carousel_text h3 {
    font-family: "Libre Caslon Display", serif;
    font-size: 65px;
    font-weight: 400;
    
    margin-top: -5px;
    color: black;
}

.carousel_text p{
    font-family: "Manjari", sans-serif;
    font-size: 20px;
    margin-left: 730px;
    font-weight: 900px;
    margin-top: -10px;
}





.promo_text {
    font-size: 120px;
    margin-top: -150px;
}

.promo_image img {
    width: 600px;
    height: auto;
    margin-left: 550px;
    margin-top: -250px;
}