@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Display:ital@0;1&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Manjari:wght@100;400;700&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: white;
    color: black;
    margin-top: -10px;
}
  
.logo {
    font-family: "DM Mono", monospace;
    font-size: 30px;
    margin-left: 50px;
    
}
.menu_logo img {
    width:  25px; 
    height: 20px; 
    margin-left: -780px;
    margin-bottom: -2px;
  }
  
  
.icons {
    display: flex;

}
  
.icon {
    font-size: 33px;
    margin-left: 20px;
    cursor: pointer;
}
  
.icon:hover {
    color: black;
}
h1 {
    text-align: center;
}